html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: absolute;
  width: 100%;
  padding-bottom: 11.55em;
}

.robot {
  width: 320px;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.4em;
}

.robot-body {
  width: 320px;
  position: absolute;
  z-index: 1;
  text-align: center;
  display: block;
  margin: auto;
}

.robot-brain {
  width: 46px;
  position: absolute;
  z-index: 2;
  top: -1.1em;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  z-index: 3;
  top: -3em;
}

.robot-head-left {
  left: 11%;
  transform: translateY(6%);
}

.robot-head-right {
  left: 50%;
  transform: translateY(6%);
}

.robot:hover > .robot-head-left {
  left: 0%;
  transform: translateY(0%);
}

.robot:hover > .robot-head-right {
  left: 61%;
  transform: translateY(0%);
}

.robot:hover > .robot-brain {
  display: block;
}
